@{
    ViewBag.Title = "Home Page";
}


    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
        <title>Multiple Languages</title>
        <!-- Ext -->
        <script type="text/javascript" src="~/shared/include-ext.js"></script>
        <script type="text/javascript" src="~/shared/options-toolbar.js"></script>
        
        <link rel="stylesheet" type="text/css" href="~/shared/examples.css" />

        <!-- GC -->

        <script type="text/javascript" src="~/shared/examples.js"></script>
        <script type="text/javascript" src="~/Scripts/test-extjs.js"></script>
    </head>

<div class="jumbotron">
    <h1>ASP.NET MVC with Extjs</h1>
    <p class="lead">Extjs 6.5 is used with ASP.NET MVC</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started (Extjs)</h2>
        <p>
            First, download extjs 6.5 and extract it. Second, copy shared folder form its example (Extjs example forlder/shared)
            to project (under project root folder).
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build Folder</h2>
        <p>Copy build folder (not including example folder) to root project. [Ext JS 6.5\build\(all of content except example folder)]</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Create your Extjs javascript file</h2>
        <p>Create your Extjs javascript file in ~/Scripts/ and write your own grid and etc.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    
        <xmp>
            Add these script and link into your view:
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
            <title>Multiple Languages</title>
            <!-- Ext -->
            <script type="text/javascript" src="~/shared/include-ext.js"></script>
            <script type="text/javascript" src="~/shared/options-toolbar.js"></script>

            <link rel="stylesheet" type="text/css" href="~/shared/examples.css" />

            <!-- GC -->

            <script type="text/javascript" src="~/shared/examples.js"></script>
            <script type="text/javascript" src="~/Scripts/test-extjs.js"></script>
        </xmp>
    
    </div>
</div>